.click-me, 
.no-click-me {
    font-size: 28 px;
    font-family: Helvetica, Times New Roman, sans-serif
}

.click-me {
    color: white;
    background-color: black;
}

.no-click-me {
    background-color: yellow;
}